{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          
          <div class="search">
            <form action="{% url 'search' %}">
       
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label class="sr-only">Street Name</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Street Name" value="{{ values.keywords }}" style="width: 200px;">
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">Property Type</label>
                <select name="property_type" class="form-control" style="width:200px;">
                  <option selected="selected" disabled="disabled">Property Type</option>
                    {% for key,value in property_type.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
				
				<div class="col-md-3 mb-3">
                  <label class="sr-only">Rooms</label>
                  <select name="bedrooms" class="form-control" style="width: 200px;">
                    <option selected="true" disabled="disabled">Total Rooms</option>
                    {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.bedrooms %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
				
				<div class="col-md-3 mb-3">
                  <select name="price" class="form-control" id="type" style="width: 200px;">
                    <option selected="true" disabled="disabled">Max Price</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.price %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>

              <div class="col-md-3 mb-3">
                <select name="floor_size" class="form-control" style="width:200px;">
                  <option selected="true" disabled="disabled">Area(Sqft)</option>
                  {% for key,value in floor_size_list.items %}
                      <option value="{{ key }}"
                      {% if key == values.floor_size %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3 mb-3">
                <select name="energy" class="form-control" style="width:200px;">
                  <option selected="true" disabled="disabled">Energy</option>
                  {% for key,value in energy_list.items %}
                      <option value="{{ key }}"
                      {% if key == values.energy %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3 mb-3">
                <select name="hot_water" class="form-control" style="width:200px;">
                  <option selected="true" disabled="disabled">Hot Water</option>
                  {% for key,value in hot_water_list.items %}
                      <option value="{{ key }}"
                      {% if key == values.hot_water %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
                <div class="col-md-3 mb-3">
                <select name="heating" class="form-control" style="width:200px;">
                  <option selected="true" disabled="disabled">Heating</option>
                  {% for key,value in heating_list.items %}
                      <option value="{{ key }}"
                      {% if key == values.heating %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <select name="furnished" class="form-control" style="width:200px;">
                  <option selected="true" disabled="disabled">Furnished</option>
                  {% for key,value in furnished_list.items %}
                      <option value="{{ key }}"
                      {% if key == values.furnished %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

              </div>
			  
              <button class="btn btn-secondary btn-block mt-4" type="submit" style="width: 200px; margin:auto;">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-sm">
                      <i class="fas fa-home"></i> Property Type: {{ listing.house_type }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}</div>
                    <div class="col-6">
                      <i class="fas fa-car"></i> Parking:
                        {% if listing.garage %}
                            Yes
                        {% else %}
                            No
                        {% endif %}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Rooms: {{ listing.bedrooms }}</div>
                    <div class="col-6">
                      <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                  </div>
                    <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-book-open"></i> Status: {% if listing.current_occupied < listing.bedrooms %} Available {% else %} Full {% endif %}</div>
                    <div class="col-6">
                      <i class="fas fa-child"></i> Occupied: {{ listing.current_occupied }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-user"></i>Manager: {{ listing.manager.name }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

{#  <section id="services" class="py-5 bg-secondary text-black">#}
{#    <div class="container">#}
{#      <div class="row text-center">#}
{#        <div class="col-md-4">#}
{#          <i class="fas fa-comment fa-4x mr-4"></i>#}
{#          <hr>#}
{#          <h3>Consulting Services</h3>#}
{#          <p>You can contact with the manager via e-mail.</p>#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#          <i class="fas fa-home fa-4x mr-4"></i>#}
{#          <hr>#}
{#          <h3>Property Management</h3>#}
{#          <p>We have a great management team to maintain our property.</p>#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#          <i class="fas fa-suitcase fa-4x mr-4"></i>#}
{#          <hr>#}
{#          <h3>Renting</h3>#}
{#          <p>We only provide renting for students in WPI.</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
    <section class="py-5 text-black">
    <div class="container">
      <div class="row text-center">

        <div class="col-md-4">
          <div id="footer-social-links" style="text-align:left; margin-top:20px;">
          <address class="footer-address">
              <a href="https://www.wpi.edu"><b>WORCESTER POLYTECHNIC INSTITUTE</b></a><br>
              100 Institute Road<br>
              Worcester, MA | 01609-2280<br>
              Ph: <a href="tel:508-831-5000">508-831-5000</a>
          </address>
          <nav class="contact-us" aria-label="List of links to connecting with WPI">
            <a href="https://www.wpi.edu/contact?url=https%3A//www.wpi.edu/%253Cfront%253E" title="Contact WPI Footer Link">Contact Us</a>
            <span class="contact-us-separator"> | </span>
            <a href="https://www.wpi.edu/coming-to-campus" title="Coming to Campus Footer Link"> Coming to Campus</a>
            <div class="emergency-accessibility">
              <a href="https://www.wpi.edu/about/emergency-management" title="Emergency Management Footer Link" class="emergency-management-footer-link">Emergency Management</a>
              <span class="contact-us-separator"> | </span>
              <a href="https://www.wpi.edu/academics/faculty/disability-services/accessibility-guidelines-resources" title="Accessibility Guidelines &amp; Resources Footer Link" class="accessibility-footer-link">Accessibility</a>
            </div>
          </nav><div style="margin-top:20px;">
             <a href="https://twitter.com/WPI" target="_blank" title="Link to Twitter WPI Feed" style="margin-right:10px;">
 <img src="../static/img/twitter.png" style="width:8%; height:8%;"></a>
              <a href="https://www.instagram.com/wpi" target="_blank" title="Link to Instagram WPI" style="margin-right:10px;">
 <img src="../static/img/inst.png" style="width:8%; height:8%;"></a>
              <a href="https://www.facebook.com/wpi.edu" target="_blank" title="Link to Facebook WPI Page" style="margin-right:10px;">
 <img src="../static/img/fb.png" style="width:8%; height:8%;"></a>
              <a href="https://www.youtube.com/user/WPI" target="_blank" title="Link to Youtube WPI channel" style="margin-right:10px;">
 <img src="../static/img/youtube.png" style="width:8%; height:8%;"></a>
  </div>
        </div>
        </div>

        <div class="col-md-4">

{#      <span class="glyphicon glyphicon-calendar"></span>#}

{#<i class="fa fa-calendar" style="font-size:100px;color:red"></i>#}
          <img src="../static/img/events.png" style="width:35%; height:50%; margin-top:10px;">
          <hr>
          <h3>Upcoming Events</h3>
          <p>Check back soon for upcoming events.</p>
        </div>

        <div class="col-md-4">
          <img src = "../static/img/global-projects.svg">
          <p><a href="https://www.wpi.edu/project-based-learning/global-project-program">WPI around the World.</a></p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}